<div class="about-image">
  <div class="about-text">
    <h1 class="about-title text-center"><strong>Welicome to CookNoah</strong></h1>

    <div class="container">
      <div class="row">
        <div class="col mt-5">
          <h3 class="about-title mt-5"><strong>What's CookNoah?</strong></h3>
          <span class="text">
          料理を通じて交流することができるSNSサイトです。
            <br>人間にとって生きるために必要不可欠な"食"
            <br>"食"と料理は切り離せないものですが、料理は楽しい一面もある一方、大変な部分も多くあります。
            <br>特に栄養バランスを考慮して献立を考えたり、余った食材をどうするかで頭を悩ませることは多くの方が経験しているでしょう。
            <br>これらの悩みが解消されれば、より豊かな食生活を送れるはず。との考えから当サイトは生まれました。
            <br>全国様々な方が編み出したレシピを共に共有しあい、時にはコメントを通じて互いにアドバイスを送ることもできます。
            <br>当サイトがあなたの食生活を豊かにする手助けができることを願っています。
          </span>
        </div>
      </div>
    </div>
  </div>
</div>