<div class="container text-center">
  <%= image_tag 'Welcome.png', :size => '600x300' %>
  <h1 class="enjoy text-center">\Let's enjoy cooking!/</h1>
  <ul class="bxslider">
    <% @cooks.each do |cook| %>
      <li>
        <%= attachment_image_tag cook, :cook_image, format: 'png', fallback: "noimage.png",size: "500x500" %>
        <h4><%= cook.title %></h4>
      </li>
    <% end %>
  </ul>
</div>