<div class="container">
  <ul class="bxslider">
    <% @cooks.each do |cook| %>
      <li>
        <%= attachment_image_tag cook, :cook_image, format: 'png', fallback: "noimage.png",size: "120x120" %>
        <h4><%= cook.title %></h4>
      </li>
    <% end %>
  </ul>
</div>