/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');


.enjoy {
  font-size: 80px;
font-family: 'WindSong', cursive;
}

.kou {
  background-color: #CCCC99;
}

.logo {
  height: 100px;
  width: 100px;
}

.headtext {
  color: #333300;
}

.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 70px;/*←footerの高さ*/
    box-sizing: border-box;
}

.fixed-bottom {
  background-color: #CCCC99;
  height: 70px;
  color: #333300;
}

.pagination {
  justify-content: center;
}

.page, .next, .last, .first, .prev {
  padding-right: 1vw;
}

